{% include 'base.html' %}

{% block head %}
    <title> HomeCloud </title>
{% endblock %}

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Home cloud</h1>
            <br>
            <form method="post" action="{% url 'services:user_login' %}">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" name="username" placeholder="Enter Username">

                <label for="password">Password:</label>
                <input type="password" name="password">

                <br>
                <br>

                <input type="submit" class="btn btn-primary" value="Login">
            </form>
        </div>
    </div>
</body>
